body{
	background-image:url("bg1.jpg");
}
section
{
	background: black;
	color:white;
	margin: 7% 25% 7% 25%;
	padding:1%;
	width:40%;
	border:2px solid white;
}
div.main
{
	margin: 5%;
	width: 80%;
	padding:1%
}
.ibox{
	border-style: none;
	border-radius: 5px;
	padding: 1%;
}
.mylable{
	font-size:20px;
}
p{
	font-size:20px;
}